
.store__productContainer{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    margin:0px 5px;
    height: 95%;
}

/*----------------PRODUCT HEADER---------------------------*/

.store__productHeader{
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 57, 57, 1);
    color: #fff;
}

/*--------------TITLE----------------*/

.productHeader__title{
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(43, 57, 57, 1);
    
}

.productHeader__title>.MuiSvgIcon-root {
    background-color: transparent;
    font-size: xx-large;
    color: orange;
}

.productHeader__title > p {
    background-color: transparent;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: default;
}

/*---------------------SEARCH FIELD---------------*/

.productHeader__searchInput{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    flex: 0.7;
    height: 34px;
    align-items: center;
    cursor: pointer;
}

.searchInput__input{
    background-color: transparent;
    display: flex;
    flex: 1;
}

.searchInput__input > input {
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    border: none;
    outline-width: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px;
    height: 34px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.searchInput__inputSearchIcon {
    background-color: green;
    color: #000;
    height: 34px;
    width: 45px;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
}

.searchInput__inputSearchIcon:hover {
    background-color: darkgreen;
}

.searchInput__inputSearchIcon > .MuiSvgIcon-root {
    background-color: transparent;
}

/*----------------FILTER-------------------------*/

.productHeader__filter {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__sort{
    position: relative;
}

.button__sort > button {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0, 1);
    outline: none;
    border: none;
    background-color: green;
}

.button__sort:hover > button{
    background-color: darkgreen;
}

.button__sort >button > p {
    background-color: transparent;
}

.button__sort>button> .MuiSvgIcon-root {
    background-color: transparent;
    font-size: x-large;
}


.filter__sort{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #f1f2f5; 
    overflow: auto;
    z-index: 1;
    cursor: pointer;
    background-color: green;
    width: 100%;
    top: 100%;
    right: 0;
}

.filter__sortOption{
    text-align: center;
    background-color:transparent;
    color: black;
    font-weight: 600;
    padding: 5px;
}

.filter__sortOption:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.sort__byGame {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 10px;
}

.sort__gameLogo {
    margin: 0px 2px;
    width: 36px;
    display: flex;
    align-items: center;

}

.sort__gameLogo>img {
    height: 36px;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0);
}

.sort__gameLogo>img:hover {
    border: 1px solid #fff;
}


/*-------------------PRODUCT LIST-----------------*/

.store__productList{
    display: flex;
    margin: 10px;
    padding: 15px;
    background-color: transparent;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}


/*------ Media query---------------*/

@media screen and (max-width: 1200px) {

    .productHeader__title>.MuiSvgIcon-root {
        font-size: x-large;
    }
    .productHeader__title>p{
        font-size: 14px;
    }
    .productHeader__searchInput {
        height: 30px;
    }
    .searchInput__input>input {
        height: 30px;
        font-size: 14px;
    }
    .searchInput__inputSearchIcon {
        height: 30px;     
    }
    .button__sort>button {
        font-size: 14px;
    }
    .button__sort>button>.MuiSvgIcon-root {
        font-size: large;
    }
    .sort__gameLogo>img {
        height: 30px;
    }
}

@media screen and (max-width: 992px) {
  .store__productHeader {
      flex-direction: column;
      height: 120px;
  }
}


@media screen and (max-width: 768px) {
    .store__productHeader{
         flex-direction: column;
         height: 120px;
    }

   .productHeader__searchInput{
       background-color: transparent;
   }
}
