
.itemContainer{
     height: 900px;
     padding: 10px 15%;
     background-color: #1a1830;
     display: flex;
     flex-direction: column;
     color: rgba(255, 255, 255, 0.7);
}

.item__allDetails{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__image{
    height: 250px;
    width: 250px;
    padding: 0px 5%;
    background-position: center center;
    background-size: cover;
}

.item__image > img {
   width: 100%;
   object-fit: contain;
}

.item__description{
    padding: 5% 0px;
    display: flex;
    flex-direction: column;  
}

.item__game{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game__logo >img{
    width: 35px;
    object-fit: contain;
}

.game__title{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__name {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.item__lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.community__eachProduct {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0);
    width: 150px;
    height: 280px;
}

.community__eachProduct:hover {
    border: 1px solid green;
}

.community__productName{
    display: none;
}

.community__eachProductImage {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.6);

}

.community__eachProductImage>img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    object-fit: contain;
}

.eachProduct__gameIcon>img {
    width: 21px;
    object-fit: contain;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.community__eachProductTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:rgba(255, 255, 255, 0.65);
}


.community__eachProductPrice {
    margin: 10px 0px;
    display: flex;
    font-size: 16px;
    color: #9acd32;
}

.eachProduct__seller{
    display: flex;
    align-items: center;
}

.eachProduct__seller>img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.buy__now {
    margin: 15px 0px;
}

.buy__nowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    background-color: #1a4011;
    margin: 0 28.87px;
    color: rgba(255, 255, 255, 0.65);
    border-radius: 0;
    border: none;
    font-weight: 600;
}


.buy__nowButton::before,
.buy__nowButton::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.buy__nowButton::before {
    right: 100%;
    border-right: 11.55px solid #1a4011;
}

.buy__nowButton::after {
    left: 100%;
    width: 0;
    border-left: 11.55px solid #1a4011;
}

.buy__nowButton:hover {
    color: #fff;
    background-color: #1a1830;
    cursor: pointer;
}


.buy__nowButton:hover::after {
    border-left: 11.55px solid #1a1830;
}

.buy__nowButton:hover::before {
    border-right: 11.55px solid #1a1830;
}

@media screen and (max-width: 1200px) {
    .item__lists{
        flex-direction: column;
    }

    .community__productName{
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 10px;
    }

    .community__eachProduct{
        flex-direction: row;
        height: 100px;
        width: 100%;
        justify-content: space-between;
    }

    .community__eachProductImage{
        height: 100px;
        width: 100px;
    }

    .community__eachProductImage>img {
        height: 100px;
    }

    .community__eachProductTitle{
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }

    .community__eachProductPrice{
        margin: 0px 10px 0px 0px;
    }

    .eachProduct__seller{
        margin: 0px 20px;
    }

    .eachProduct__seller>img {
        width: 30px;
        height: 30px;
    }


}

@media screen and (max-width: 992px) {
    .community__productName{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .itemContainer{
        height: 100%;
    }

    .item__allDetails{
        flex-direction: column;
        height: 100%;
    }

    .item__description{
        margin: 0px 0px 20px 0px;
        padding: 0;
    }

    .community__eachProductTitle{
        flex-direction: column;
        justify-content: space-between;
    }

    .community__eachProductPrice{
        margin: 0;
        font-size: 14px;
    }

    .eachProduct__seller{
        margin: 5px 0px;
    }
    .eachProduct__seller > h4 {
        font-size: 14px;
        font-weight: 400;
    }

    .eachProduct__seller >img {
        height: 20px;
        width: 20px;
        object-fit: contain;
    }

    .community__productName{
        display: flex;
    }

    .buy__now {
        margin: 5px 0px 0px 0px;
    }

    .buy__nowButton {
        height: 30px;
        margin: 0 8.66px;
        font-weight: 600;
    }

    .buy__nowButton::before,
    .buy__nowButton::after {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }

    .buy__nowButton::before {
        border-right: 8.66px solid #1a4011;
    }

    .buy__nowButton::after {
        border-left: 8.66px solid #1a4011;
    }

    .buy__nowButton:hover::after {
        border-left: 8.66px solid #1a1830;
    }

    .buy__nowButton:hover::before {
        border-right: 8.66px solid #1a1830;
    }
}

@media screen and (max-width: 575px) {

    .community__productName{
        display: none;
    }

    .item__name{
        font-size: 14px;
    }

    .game__logo>img{
        width: 28px;
    }

    .game__title >h5 {
        font-size: 12px;
    }
}