.store{
    background-color: #1a1830;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 1% 7%;
}

.storeBody{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding-bottom: 50px;
}

/*-----------------------Store Header-----------------*/
.storeHeader {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0d0c1b;
    border-radius: 50px;
    margin-bottom: 10px;
}

.storeHeader__left {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
}

.storeHeader__left>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #9ACD32;
}

.storeHeader__left>p {
    margin-left: 5px;
    font-size: 24px;
}

.storeHeader__left:hover{
    background-color:#1a4011;
    border-radius: 50px;
}

.storeHeader__center {
    display: flex;
    position: relative;
    align-items: center;
    height: 90%;
    flex: 0.8;
}

.filterByGame {
    display: flex;
    position: relative;
    flex: 1;
    margin: 0px 1px;
    cursor: pointer;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.filterByGame::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1a1830;
    transform: skewX(-20deg);
}

.filterByGame:hover::after {
    color: green;
    background-color: #1a4011;
    transform: skewX(-20deg);
}

.filterByGame>img {
    padding: 0px 10px;
    height: 40px;
    object-fit: contain;
}

.filterByPrice {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.filterByPrice>p {
    font-size: 20px;
}

.filterByPrice>.MuiSvgIcon-root {
    font-size: x-large;
    color: #9ACD32;
}

.storeHeader__right {
    display: flex;
    align-items: center;
    background: rgba(97, 201, 206, 0.1);
    border-radius: 50px;
    height: 50px;
    padding: 0px 10px;
}

.searchBox {
    background-color: transparent;
    display: flex;
    flex: 1;
}

.searchBox>input {
    flex-grow: 1;
    border: none;
    outline-width: 0;
    background-color: transparent;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.search__icon {
    height: 50px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search__icon:hover>.MuiSvgIcon-root {
    color: #9ACD32;
}

/*------------Media Query---------------------*/

@media screen and (max-width: 992px) {
    .storeHeader__left>.MuiSvgIcon-root {
        font-size: x-large;
    }

    .storeHeader__left>p {
        font-size: 18px;
    }

    .filterByPrice>p {
        font-size: 18px;
    }

    .gameTitle {
        display: none;
    }

    .storeHeader__right {
        padding: 0px 5px;
    }
}

@media screen and (max-width: 700px) {
    .storeHeader {
        flex-direction: column;
        height: 200px;
        border-radius: 5px;
    }

    .storeHeader__left>.MuiSvgIcon-root {
        font-size: x-large;
    }

    .storeHeader__center {
        width: 80%;
        flex: 0.5;
    }
}
