.transaction__body {
    display: flex;
    flex-direction: column;
    margin: 0% 5%;
}

.transaction__header {
    display: flex;
    color: #61c9ce;
    background-color: #0d0c1b;
}

.transaction__headerDate {
    flex: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a4011;
    text-transform: capitalize;
}

.transaction__headerDescription {
    flex: 0.5;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #1a4011;
    text-transform: capitalize;
}

.transaction__headerChange {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #1a4011;
}

.transaction__change {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1a4011;
}

.transaction__changeRB {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.transaction__changeRP {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #232035;
}

.transaction__changeBalance {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #722f37;

}

.transaction__headerWallet {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #1a4011;
}

.transaction__wallet {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1a4011;
}

.transaction__walletRB {
    display: flex;
    justify-content: space-around;
}

.transaction__walletRP {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #232035;

}

.transaction__walletBalance {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #722f37;
}

.transaction__history {
    display: flex;
    flex-direction: column;
    color: #61c9ce;
}

.transaction__pagination{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.transaction__btn{
    position: relative;
    height: 40px;
    background-color: #0d0c1b;
    color: #61c9ce;
    border: none;
    cursor: pointer;
    outline-width: 0;
    padding: 10px;
    border-radius: 5px;
}

.transaction__btn:hover{
    background-color: #1a4055;
}

@media screen and (max-width: 992px) {
    .transaction__body {
        margin: 0% 2%;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .transaction__body{
        margin: 0;
        font-size: 12px;
    }
}