
.community__body {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.community__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d0c1b;
    position: relative;
    height: 80px;
    margin: 0 23.09px;
    color: #61c9ce;
}

.community__navbar::before,
.community__navbar::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.community__navbar::before {
    right: 100%;
    border-right: 23.09px solid #0d0c1b;
}

.community__navbar::after {
    left: 100%;
    width: 0;
    border-left: 23.09px solid #0d0c1b;
}

.community__navbarLeft {
    display: flex;
    align-items: center;
    flex: 0.9;
}

.community__navbarLeftGameFilter {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1830;
    position: relative;
    height: 70px;
    margin: 0 20.21px;
    color: #61c9ce;
    flex: 1;
}

.community__navbarLeftGameFilter::before,
.community__navbarLeftGameFilter::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.community__navbarLeftGameFilter::before {
    right: 100%;
    border-right: 20.21px solid #1a1830;
}

.community__navbarLeftGameFilter::after {
    left: 100%;
    width: 0;
    border-left: 20.21px solid #1a1830;
}

.community__navbarLeftGameFilter:hover {
    background-color: #1a4011;
}

.community__navbarLeftGameFilter:hover::before {
    border-right: 20.21px solid #1a4011;
}

.community__navbarLeftGameFilter:hover::after {
    border-left: 20.21px solid #1a4011;
}

.community__navbarLeftGameFilter>img {
    padding: 0px 10px;
    height: 40px;
    object-fit: contain;
}

.filterPriceQuantity {
    display: flex;
    align-items: center;
}

.community__navbarRight {
    cursor: pointer;
    display: flex;
    flex: 0.1;
    align-items: center;
    justify-content: center;
    background-color: #1a1830;
    position: relative;
    height: 70px;
    margin: 0 20.21px 0 30px;
    color: #61c9ce;
}

.community__navbarRight::before,
.community__navbarRight::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.community__navbarRight::before {
    right: 100%;
    border-right: 20.21px solid #1a1830;
}

.community__navbarRight::after {
    left: 100%;
    width: 0;
    border-left: 20.21px solid #1a1830;
}

/* .community__navbarRight:hover {
    background-color: #1a4011;
}

.community__navbarRight:hover::before {
    border-right: 20.21px solid #1a4011;
}

.community__navbarRight:hover::after {
    border-left: 20.21px solid #1a4011;
} */

.community__data {
    margin: 5px;
    flex-direction: column;
}

.link__to {
    text-decoration: none;
    color: #61c9ce;
}

.community__itemsContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
}

.community__product {
    margin: 10px;
    padding-bottom: 5px;
    width: 200px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0c1b;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.community__product:hover {
    transform: scale(1.1);
}

.community__productImage {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    /* background-color: #0d0c1b; */
    background-image: linear-gradient(#1a1830, #1a4011);
    cursor: pointer;

}

.community__productImage>img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    object-fit: contain;
}

.product__gameIcon>img {
    width: 25px;
    object-fit: contain;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.community__productTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.community__productTitle>h4 {
    text-align: center;
}

.community__productQuantity {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.community__productPrice {
    text-align: center;
    display: flex;
    justify-content: center;
}

.community__productPrice>p {
    font-size: 14px;
    color: #12cc82;
    font-weight: 600;
}

.community__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 0px 40px 0px;
}

.MuiPaginationItem-icon {
    color: #fff;
}

.MuiPaginationItem-root {
    color: #fff !important;
}

.Mui-selected {
    color: orange !important;
}


.community__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: 15px 5px 5px 5px;
    color: #4582A5;
}

.community__search {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    margin-right: 20px;
}

.community__searchInput {
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 28px;
    color: #fff;
    padding: 2px 0px 2px 4px;
    background-color: #324965;
    cursor: pointer;
}

.community__searchTitle {
    font-size: 18px;
    font-weight: 600;
}

.community__searchInput>input {
    flex: 1;
    background-color: #324965;
    border: none;
    outline-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    height: 28px;
    font-size: 14px;
}

.filter__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter__byGame {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 10px;
}

.filter__gameLogo {
    margin: 0px 2px;
    width: 40px;
    display: flex;
    align-items: center;

}

.filter__gameLogo>img {
    height: 40px;
    object-fit: contain;
    border: 1px solid rgba(0, 0, 0, 0);
}

.filter__gameLogo>img:hover {
    border: 1px solid #fff;
}

.filter__byData {
    display: flex;
}

.filter__byData>button {
    margin: 0px 5px;
    padding: 5px;
}


@media screen and (max-width: 1500px) {
    .community__product {
        margin: 5px;
        padding-bottom: 5px;
        width: 170px;
        height: 250px;
    }

    .community__productImage {
        height: 170px;
        width: 170px;
    }

    .community__productImage>img {
        height: 170px;
    }

    .product__gameIcon>img {
        width: 24px;
        bottom: 2px;
        right: 3px;
    }

    .community__productTitle {
        font-size: 14px;
    }

    .community__productQuantity {
        font-size: 14px;
        font-weight: 600;
    }

    .community__productPrice {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .community__productPrice>p {
        font-size: 14px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1200px) {

    .community__navbar {
        height: 70px;
        margin: 0 20.21px;
    }

    .community__navbar::before,
    .community__navbar::after {
        border-top: 35px solid transparent;
        border-bottom: 35px solid transparent;
    }

    .community__navbar::before {
        border-right: 20.21px solid #0d0c1b;
    }

    .community__navbar::after {
        border-left: 20.21px solid #0d0c1b;
    }

    .community__navbarLeftGameFilter {
        height: 60px;
        margin: 0 17.32px;
    }

    .community__navbarLeftGameFilter::before,
    .community__navbarLeftGameFilter::after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
    }

    .community__navbarLeftGameFilter::before {
        border-right: 17.32px solid #1a1830;
    }

    .community__navbarLeftGameFilter::after {
        border-left: 17.32px solid #1a1830;
    }

    .community__navbarLeftGameFilter:hover::before {
        border-right: 17.32px solid #1a4011;
    }

    .community__navbarLeftGameFilter:hover::after {
        border-left: 17.32px solid #1a4011;
    }

    .community__navbarLeftGameFilter>img {
        height: 36px;
    }

    .community__navbarRight {
        height: 60px;
        margin: 0 17.32px 0 20px;
    }

    .community__navbarRight::before,
    .community__navbarRight::after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
    }

    .community__navbarRight::before {
        border-right: 17.32px solid #1a1830;
    }

    .community__navbarRight::after {
        border-left: 17.32px solid #1a1830;
    }

    .gameTitle {
        display: none;
    }

    .community__product {
        margin: 5px;
        padding-bottom: 5px;
        width: 150px;
        height: 210px;
    }

    .community__productImage {
        height: 150px;
        width: 150px;
    }

    .community__productImage>img {
        height: 150px;
    }

    .product__gameIcon>img {
        width: 20px;
        bottom: 2px;
        right: 3px;
    }

    .community__productTitle {
        font-size: 12px;
        font-weight: 600;
    }

    .community__productQuantity {
        font-size: 12px;
        font-weight: 600;
    }

    .community__productPrice {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .community__productPrice>p {
        font-size: 12px;
        font-weight: 600;
    }
}

@media screen and (max-width: 992px) {

    .filterPriceQuantity {
        flex-direction: column;
    }

    .community__navbarRight>.searchBox>input {
        max-width: 150px;
    }

    .community__filter {
        flex-direction: column;
    }

    .community__search {
        margin-bottom: 10px;
    }

    .community__searchTitle {
        font-size: 14px;
        font-weight: 600;
    }

    .filter__byGame {
        margin: 0px 5px;
    }

    .pagination__results {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {

    .community__navbar {
        justify-content: center;
        flex-direction: column;
        height: 120px;
        margin: 0 10px;
        padding: 5px 0px;
    }

    .community__navbar::before,
    .community__navbar::after {
        content: "";
        position: absolute;
        width: 0;
        border-top: 65px solid transparent;
        border-bottom: 65px solid transparent;
    }

    .community__navbar::before {
        border-right: 37.53px solid #0d0c1b;
    }

    .community__navbar::after {
        border-left: 37.53px solid #0d0c1b;
    }

    .community__navbarLeft {
        width: 100%;
        flex: 1;
    }

    .community__navbarLeftGameFilter {
        height: 50px;
        margin: 0 14.43px;
    }

    .community__navbarLeftGameFilter::before,
    .community__navbarLeftGameFilter::after {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    .community__navbarLeftGameFilter::before {
        border-right: 14.43px solid #1a1830;
    }

    .community__navbarLeftGameFilter::after {
        border-left: 14.43px solid #1a1830;
    }

    .community__navbarLeftGameFilter:hover::before {
        border-right: 14.43px solid #1a4011;
    }

    .community__navbarLeftGameFilter:hover::after {
        border-left: 14.43px solid #1a4011;
    }

    .community__navbarLeftGameFilter>img {
        padding: 0px 5px;
        height: 30px;
    }

    .community__navbarRight {
        height: 50px;
        margin: 0 14.43px;
    }

    .community__navbarRight::before,
    .community__navbarRight::after {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    .community__navbarRight::before {
        border-right: 14.43px solid #1a1830;
    }

    .community__navbarRight::after {
        border-left: 14.43px solid #1a1830;
    }

    .community__product {
        margin: 5px;
        width: 120px;
        height: 180px;
    }

    .community__productImage {
        height: 120px;
        width: 120px;
    }

    .community__productImage>img {
        height: 120px;
    }

    .product__gameIcon>img {
        width: 16px;
        bottom: 1px;
        right: 1px;
    }

    .community__productQuantity {
        font-size: 10px;
        bottom: 3px;
        left: 3px;
    }

    .community__productTitle>h4 {
        font-size: 12px;
    }

    .community__productPrice>p {
        font-size: 10px;
    }

    .community__pagination {
        flex-direction: column-reverse;
    }
}