.store{
    background-color: #1a1830;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 1% 7%;
}

.storeBody{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding-bottom: 50px;
    margin-top: 10px;
}



/*-----------------------Store Header-----------------*/
.storeHeader {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #0d0c1b;
     position: relative;
     height: 60px;
     margin: 0 17.32px;
     color: #61c9ce;
}

.storeHeader::before,
.storeHeader::after{
    content: "";
    position: absolute;
    width: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.storeHeader::before{
    right: 100%;
    border-right: 17.32px solid #0d0c1b;
}

.storeHeader::after{
    left: 100%;
    width: 0;
    border-left: 17.32px solid #0d0c1b;
}

.storeHeader__left {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
    flex: 0.05;
    transition: all 0.15s ease;
}

.storeHeader__left>.MuiSvgIcon-root {
    font-size: x-large;
    color: #9ACD32;
}

.storeHeader__left>p {
    font-size: 20px;
}

.storeHeader__left:hover{
    transform: scale(1.1);
}

.storeHeader__center {
    display: flex;
    position: relative;
    align-items: center;
    height: 56px;
    flex: 0.85;
    margin: 0px 10px;
}

.filterByGame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1830;
    position: relative;
    height: 56px;
    margin: 0 16.17px;
    color: #61c9ce;
    flex: 1;
}

.filterByGame::before,
.filterByGame::after{
    content: "";
    position: absolute;
    width: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

.filterByGame::before{
    right: 100%;
    border-right: 16.17px solid #1a1830;
}

.filterByGame::after {
   left: 100%;
   width: 0;
   border-left: 16.17px solid #1a1830;
}

.filterByGame:hover {
     background-color: #1a4011;
}

.filterByGame:hover::before{
    border-right: 16.17px solid #1a4011;
}

.filterByGame:hover::after {
    border-left: 16.17px solid #1a4011;
}

.filterByGame>img {
    padding: 0px 10px;
    height: 36px;
    object-fit: contain;
}

.filterByPrice {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.filterByPrice>p {
    font-size: 20px;
}

.filterByPrice>.MuiSvgIcon-root {
    font-size: x-large;
    color: #9ACD32;
}

.storeHeader__right {
   cursor: pointer;
   display: flex;
   flex: 0.1;
   align-items: center;
   justify-content: center;
   background-color: #1a1830;
   position: relative;
   height: 56px;
   margin: 0 16.17px;
   color: #61c9ce;
}

.storeHeader__right::before,
.storeHeader__right::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

.storeHeader__right::before {
    right: 100%;
    border-right: 16.17px solid #1a1830;
}

.storeHeader__right::after {
    left: 100%;
    width: 0;
    border-left: 16.17px solid #1a1830;
}

.searchBox {
    background-color: transparent;
    display: flex;
    flex: 1;
}

.searchBox>input {
    flex-grow: 1;
    border: none;
    outline-width: 0;
    background-color: transparent;
    padding: 0px 10px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.search__icon {
    height: 50px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search__icon:hover>.MuiSvgIcon-root {
    color: #9ACD32;
}

/*------------Media Query---------------------*/

@media screen and (max-width: 992px) {
    .storeHeader__left>.MuiSvgIcon-root {
        font-size: x-large;
    }

    .storeHeader__left>p {
        font-size: 18px;
    }

    .filterByPrice>p {
        font-size: 18px;
    }

    .gameTitle {
        display: none;
    }

    .storeHeader__right {
        padding: 0px 5px;
    }

    .storeHeader__right>.searchBox>input{
        max-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .storeHeader {
        flex-direction: column;
        justify-content: center;
        height: 160px;
        margin: 0 35px;
        padding: 5px 0px;
    }
    .storeHeader::before,
    .storeHeader::after {
        content: "";
        position: absolute;
        width: 0;
        border-top: 85px solid transparent;
        border-bottom: 85px solid transparent;
    }

    .storeHeader::before {
        border-right: 49.19px solid #0d0c1b;
    }

    .storeHeader::after {
        border-left: 49.09px solid #0d0c1b;
    }

    .storeHeader__left{
        height: 30px;
    }

    .storeHeader__center {
        width: 100%;
        flex: 1;
    }
}
