/*-----Main Container------*/
.sell {
    background-color: #1a1830;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 1% 7%;
}

/*-------------------Sell header (A copy of store header with same and different classname)---------------*/
.sellHeader {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #0d0c1b;
    border-radius: 50px;
    margin-bottom: 10px;
}

.sellHeader__left {
    cursor: default;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 50px;
    flex: 0.1;
}

.sellHeader__left>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #9ACD32;
}

.sellHeader__left>p {
    margin-left: 5px;
    font-size: 20px;
}

.sellHeader__center {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 90%;
    flex: 0.9;
    margin: 0px 10px;
}

.filter__byGame {
    display: flex;
    position: relative;
    flex: 1;
    margin: 0px 1px !important;
    cursor: pointer;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.filter__byGame::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1a1830;
    transform: skewX(-20deg);
}

.filter__byGame:hover::after {
    color: green;
    background-color: #1a4011;
    transform: skewX(-20deg);
}

.filter__byGame>img {
    padding: 0px 10px;
    height: 40px;
    object-fit: contain;
}

.filter__byPrice {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.filter__byPrice>p {
    font-size: 20px;
}

.filter__byPrice>.MuiSvgIcon-root {
    font-size: x-large;
    color: #9ACD32;
}

.sellHeader__right {
    display: flex;
    flex: 0.1;
    align-items: center;
    background: rgba(97, 201, 206, 0.1);
    border-radius: 50px;
    height: 50px;
    padding: 0px 10px;
}

.search__box {
    background-color: transparent;
    display: flex;
    flex: 1;
}

.search__box>input {
    flex-grow: 1;
    border: none;
    outline-width: 0;
    background-color: transparent;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.search__icon {
    height: 50px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search__icon:hover>.MuiSvgIcon-root {
    color: #9ACD32;
}


/*A container includes all items*/
.steamInventory__itemContainer{
    height: 100%;
    display: flex;
    padding: 10px;
    background-color: transparent;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.steamInventory__item{
    width: 225px;
    height: 350px;
    background-color: transparent;
    margin: 10px 5px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    cursor: pointer;
}

.steamInventory__itemTop > img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

.steamInventory__item> p {
    color: #9ACD32;
    font-weight: 600;
    background-color: transparent;
}

.steamInventory__item:hover > .steamInventory__itemTop > img {
    transform: scale(1.07);
}

.steamInventory__item:hover{
    background-image: linear-gradient(#1a1830, #000);
}

.steamInventory__name{
    max-width: 200px;
    text-align: center;
    font-size: 18px;
}

.steamInventory__rarity{
    max-width: 200px;
    text-align: center;
    color: #00efba;
    font-size: 14px;
}

.steamInventory__sell{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    background-color: #0d0c1b;
    margin: 0 28.87px;
    color: #61c9ce;
    border-radius: 0;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.steamInventory__sell::before,
.steamInventory__sell::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.steamInventory__sell::before {
    right: 100%;
    border-right: 11.55px solid #0d0c1b;
}

.steamInventory__sell::after {
    left: 100%;
    width: 0;
    border-left: 11.55px solid #0d0c1b;
}

.steamInventory__item:hover>.steamInventory__sell {
    background-color: #cf3464;
    color: #fff;
    font-weight: 400;
}

.steamInventory__item:hover>.steamInventory__sell::before {
    border-right: 11.55px solid #cf3464;
}

.steamInventory__item:hover>.steamInventory__sell::after {
    border-left: 11.55px solid #cf3464;
}

/*-------------------Pagination-----------------------*/
.sell__pagination{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 100px;
}

.sell__paginationResult{
    margin: 10px 0px;
}

/*------------Media Query---------------------*/

@media screen and (max-width: 992px) {
    .sellHeader__left>.MuiSvgIcon-root {
        font-size: x-large;
    }
    .sellHeader__left>p {
        font-size: 18px;
    }

    .filter__byPrice>p {
        font-size: 18px;
    }

    .gameTitle {
        display: none;
    }

    .sellHeader__right {
        padding: 0px 5px;
    }

}

@media screen and (max-width: 768px) {
    .steamInventory__item{
        width: 120px;
        height: 200px;
        margin: 5px 2px;
        padding: 5px 0px;
    }

    .steamInventory__itemTop>img {
        height: 100px;
        width: 120px;
    }

    .steamInventory__name {
        max-width: 120px;
        font-size: 14px;
    }

    .steamInventory__rarity {
        max-width: 120px;
        font-size: 12px;
    }

    .steamInventory__sell {
        height: 20px;
        background-color: #0d0c1b;
        margin: 0 5.77px;
    }

    .steamInventory__sell::before,
    .steamInventory__sell::after {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .steamInventory__sell::before {
        border-right: 5.77px solid #0d0c1b;
    }

    .steamInventory__sell::after {
        border-left: 5.77px solid #0d0c1b;
    }

    .steamInventory__item:hover>.steamInventory__sell::before {
        border-right: 5.77px solid #cf3464;
    }

    .steamInventory__item:hover>.steamInventory__sell::after {
        border-left: 5.77px solid #cf3464;
    }

}

@media screen and (max-width: 720px) {
    .sellHeader {
        flex-direction: column;
        height: 150px;
        border-radius: 5px;
    }

    .sellHeader__left{
        height: 30px;
    }

    .sellHeader__left>p {
        font-size: 20px;
    }

    .sellHeader__left>.MuiSvgIcon-root {
        font-size: x-large;
    }

    .sellHeader__center {
        width: 80%;
        flex: 0.5;
    }
}


/*---------Dialog box css---------------*/

.dialog__title{
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(43, 57, 57, 1);
}

.dialog__titleArrange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dialog__titleArrange > .MuiSvgIcon-root {
    cursor: pointer;
}

.dialog__titleArrange >.MuiSvgIcon-root:hover  {
    color: red;
}

.dialog__body{
    display: flex;
    flex-direction: column;
}

.dialog__header{
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    box-shadow: 0px 5px 8px -9px rgba(255, 255, 255, 1);
}

.item__photo {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px;
    width: 130px;
    margin: 5px;
}

.item__photo >img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 130px;
   object-fit: contain;
}

.item__details{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.item__gameIcon {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.item__gameIcon >img{
    height: 30px;
    object-fit: contain;
}

.item__gameIcon > p {
    margin-left: 5px;
    font-size: 16px;
}

/*------------------DIALOG STYLING------------------*/
.dialog__deals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deals__instantSell{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.instantSell__rate{
    display: flex;
    align-items: center;
    justify-content: center;
}

.instantSell__rate>h4 {
    font-weight: 600;
    font-size: 14px;
    color: #61c9ce;
    margin-left: 2px;
}

.instantSell__reward{
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.instantSell__reward >p{
    font-size: 14px;
    color: #61c9ce;
}

.deals__communitySell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    background-color: #0d0c1b;
}

.communitySell__header{
    text-align: center;
    background-color:  transparent;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #61c9ce;
    padding-bottom: 5px;
    box-shadow: 0px 5px 8px -9px rgba(255, 255, 255, 1);
}

.buyerPays{
    padding: 5px 0px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.youReceive{
    font-size: 14px;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.youReceive > input {
    max-width: 130px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    height: 30px;
    outline-width: 0;
    border: none;
    padding: 0 5px;
    font-size: 14px;
    margin-left: 5px;
    color: #61c9ce;
}

.communitySell__reward {
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.communitySell__reward>p {
    color: #61c9ce;
    font-size: 14px;
}


.dialog__action > button {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 5px;
    color: #61c9ce;
    background-color: #0d0c1b;
}

.MuiDialogActions-root {
    background-color: #1a1830;
}

.dialog__action > button:hover {
    background-color: #1a4011;
}