.inventory{
    background-color: #171a21;
    padding: 15px 20px;
    height: 100vh;
}

.inventory__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    background-color: rgba(43, 57, 57, 1);
    color: #fff;
    cursor: default;
}

.inventory__header>.MuiSvgIcon-root {
    background-color: transparent;
    color: #fff;
}

.inventory__header>h4 {
    background-color: transparent;
    margin-left: 5px;
    text-transform: uppercase;
}

.inventory__item {
    display: flex;
    padding: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.7);
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    
}


.inventory__cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.product {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px;
    width: 130px;
    background-color: #000;
    /*transition: transform 200ms ease-in;*/
    cursor: pointer;
}

.product__image>img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    object-fit: contain;
}

.product__gameIcon>img {
    width: 20px;
    object-fit: contain;
    position: absolute;
    bottom: 0.5px;
    right: 2px;
}

.product > p {
     position: absolute;
     bottom: 3px;
     right: 25px;
     color: white;
     font-size: 12px;
     font-weight: 600;
}

.product__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product__Name{
    max-width: 100px;
    height: 30px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

 button {
    margin-top: 10px;
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding: .5rem 2rem;
    font-size: 16px;
    background-color: green;
}

button:hover {
    color: #000;
    background-color: darkgreen;
}
