/*--------------BUYLIST SECTION------------------*/

.storemarket__buySection {
    display: flex;
    justify-content: space-between;
    height: 350px;
}

/*------------BUYLIST------------------*/

.storemarket__buyList {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px 5px;
}

.buylist__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    background-color: rgba(43, 57, 57, 1);
    color: #fff;
    cursor: default;
}

.buylist__header>.MuiSvgIcon-root {
    background-color: transparent;
    color: #fff;
}

.buylist__header>h4 {
    background-color: transparent;
    margin-left: 5px;
    text-transform: uppercase;
}

.buylist__list {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}

/*--------------CHECKOUT-----------------*/

.storemarket__buyCheckout {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px 5px;

}

.checkout__header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(43, 57, 57, 1);
    color: #fff;
    cursor: default;
}

.checkout__header>.MuiSvgIcon-root {
    background-color: transparent;
    color: #fff;
}

.checkout__header>h4 {
    background-color: transparent;
    margin-left: 5px;
    text-transform: uppercase;
}

.checkout__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

.checkout__descriptionDetails {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.checkout__descriptionDetails>p {
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}

.checkout__number {
    background-color: transparent;
    font-weight: 900;
    margin-left: 10px;
    color: #3664e9;
    font-size: 18px;
}


.checkout__descriptionConfirm {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.checkout__button {
    cursor: pointer;
    color: #000;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    padding: .5rem 2rem;
    font-size: 16px;
    background-color: green;
}

.checkout__button:hover {
    color: #000;
    background-color: darkgreen;
}


.checkout__descriptionConfirmMessage {
    background-color: transparent;
    margin: 10px 10px 0px 10px;
    font-weight: 600;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;

}

/*--------------------------------MEDIA FOR BUY SECTION------------------------------------------*/

@media screen and (max-width: 1200px) {
    .checkout__description {
        padding: 0;
    }

    .checkout__descriptionDetails {
        margin: 0;
    }

    .checkout__number {
        margin-left: 5px;
        font-size: 16px;
    }
}

/*------------------------------------------------*/

@media screen and (max-width: 768px) {
    .storemarket__buySection {
        flex-direction: column;
        height: 100%;
    }

    .storemarket__buyList {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 10px 5px;
        height: 300px;
    }

    .storemarket__buyCheckout {
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 10px 5px;
    }
}
