.dialog__box{
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 57, 57, 1);
    padding: 10px;
}

.dialog__product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 5px 8px -9px rgba(255, 255, 255, 0.75);
}

.dialog__productName {
    margin-left: 20px;
    flex: 0.65;
}

.dialog__productDetails{
    flex: 0.35;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog__productQuantity{
    display: flex;
    justify-content: space-between;
}

.dialog__productRate{
    display: flex;
    justify-content: space-between;
}


.dialog__productAmount{
    display: flex;
    justify-content: space-between;
}

.dialog__footer{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(43, 57, 57, 1);
    color: rgba(255, 255, 255, 0.7);
}

.dialog__footerName{
    margin: auto;
}


.button__cancel{
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    margin-right: 1rem;
    padding: .5rem 2rem;
    background-color: #B22222;
}

.button__confirm {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: .2vw;
    margin-right: 1rem;
    padding: .5rem 2rem;
    background-color: #1E90FF;
}

