
.store__productContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 5px;
    height: 400px;
}

/*----------------PRODUCT HEADER---------------------------*/

.store__productHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 57, 57, 1);
    color: #fff;
}

/*--------------TITLE----------------*/

.productHeader__title{
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: rgba(43, 57, 57, 1);
    
}

.productHeader__title>.MuiSvgIcon-root {
    background-color: transparent;
    font-size: xx-large;
    color: orange;
}

.productHeader__title > p {
    background-color: transparent;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: default;
}

/*---------------------SEARCH FIELD---------------*/

.productHeader__searchInput{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    height: 34px;
    align-items: center;
    cursor: pointer;
}

.searchInput__input{
    background-color: transparent;
    display: flex;
    flex: 1;
}

.searchInput__input > input {
    border-radius: 5px 0px 0px 5px;
    flex-grow: 1;
    border: none;
    outline-width: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px;
    height: 34px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.searchInput__inputSearchIcon {
    background-color: green;
    color: #000;
    height: 34px;
    width: 45px;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
}

.searchInput__inputSearchIcon:hover {
    background-color: darkgreen;
}

.searchInput__inputSearchIcon > .MuiSvgIcon-root {
    background-color: transparent;
}

/*----------------FILTER-------------------------*/

.productHeader__filter {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productHeader__filter > button {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 600;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0, 1);
    outline: none;
    border: none;
    background-color: green;
}

.productHeader__filter:hover > button{
    background-color: darkgreen;
}

.productHeader__filter >button > p {
    background-color: transparent;
}

.productHeader__filter>button> .MuiSvgIcon-root {
    background-color: transparent;
    font-size: x-large;
}


.filter__sort{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: #f1f2f5;
    min-width: 100px;
    margin-top: 100px;
    overflow: auto;
    z-index: 1;
    cursor: pointer;
    background-color: green;
}

.filter__sortOption{
    text-align: center;
    background-color:transparent;
    
    color: black;
    font-weight: 600;
    padding: 5px;
}

.filter__sortOption:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


/*-------------------PRODUCT LIST-----------------*/

.store__productList{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}


/*------Exceptional Case Media query---------------*/
    @media screen and (max-width: 620px) {
    .store__productHeader{
         flex-direction: column;
    }
}
